<main>

    {{#each tweet}}
        <div class="timeline__tweet">

            <div class="timeline__avatar">
                <a href="/{{ username }}">
                    <img src="../assets/images/default_avatar.png" alt="">
                </a>
            </div>
            <div class="timeline__post">
                <div class="timeline__user">@{{ username }} · {{ dateFromNow }}</div>
                {{!-- <div class="timeline__user">{{ moment date_tweet "fromNow"}}</div> --}}
                <div class="timeline__content">{{ content }}</div>
            </div>

        </div>
    {{/each}}

</main>